li a {
    color: blue;
}

* {
    margin: 0; 
    padding: 10;
}

div#banner { 
    margin: 0;
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    background-color: #2222ee;
}

div#banner404 { 
    margin: 0;
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    background-color: #cc2222;
}

div#banner500 { 
    margin: 0;
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    background-color: #ddb511;
}

div#banner.Expirado {
    background-color: #aa2222;
}

div#banner.Terminado {
    background-color: #22aa22;
}

div#banner.Congelado {
    background-color: #aaaa00;
}

div#banner-content { 
    position: center;
    width: 500px; 
    margin: 0 auto; 
    padding: 5px; 
    color: #ffffff;
    text-align: center;
    font-size: 150%;
}

div#book-head {
    position: left;
    width: 900px;
    margin: 0 0 0 20; 
    padding: 2px; 
    color: #ffffff;
    font-size: 125%;
}

div#main-content { 
    margin: 0; 
    padding: 0;
    padding-top: 50px;
}

table, th, td {
    border: 0px solid blue;
}

table {
    padding: 50px;
    position: center;
    border-collapse: collapse;
}

.widetable {
    width: 100%;
}

th {
    /*height: 50px;*/
    background-color: #7766ff;
    color: white;
    padding: 8px;
    text-align: left;
}

td {
    text-align: left;
    /*height: 80px;*/
    vertical-align: middle;
    padding: 10px;
}

td.Activo {
    color: #0000cc;
}

td.Expirado {
    color: #cc0000;
}

td.Congelado {
    color: #aaaa00;
}

td.Terminado {
    color: #22aa22;
}

td.Atenuado {
    color: #aaaaaa;
}

.enddate1 {
    color: red;
}

.row1 {
    background-color: #ddddff;
}

.row2 {
    background-color: #d0d0ff;
}

.finished {
    background-color: #11ee22;
}

.period_row_ko {
    color: red;
}

.period_row_buffer {
    color: #aaaa00;
}
