{% include "books/header.html" %}

<div id="banner">
    <div id="book-head">
        Índice
    </div>
</div>

<div id="main-content">

{% include "books/top_menu.html" %}


<h2>Leyendo</h2>

<table>
    <tr>
        <th>Título</th>
        <th>Páginas leídas</th>
    </tr>
    {% for book in currently_reading_books %}
    <tr>
        <td><a href="{% url 'books:book_detail' book.id %}">{{book.title}}</a></td>
        <td>{{book.pages_read}}</td>
    </tr>
    {% endfor %}
</table>

<h2>Leídos</h2>

<table>
    <tr>
        <th>Título</th>
        <th>Fecha</th>
    </tr>
    {% for book in already_read_books %}
    <tr>
        <td><a href="{% url 'books:book_detail' book.id %}">{{book.title}}</a></td>
        <td>{{book.date_read|date:"Y-m-d H:i"}}</td>
    </tr>
    {% endfor %}
</table>

</div>
