{% include "expenses/header.html" %}
{% include "expenses/top_menu.html" %}

<div class="index-grid">
    <div class="index-title-column index-header">Summary</div>
    <div class="index-amount-column index-header">Monthly net</div>

    <div class="index-amount-column">{{ net|floatformat:2 }}</div>

    <div class="index-title-column index-header">Income</div>
    <div class="index-amount-column index-header" id="xyz">Monthly sum</div>

    {% for group in incomes %}
        <div class="index-title-column">{{ group }}</div>
        <div class="index-amount-column">{{ group.net|floatformat:2 }}</div>
        <button class="toggle" onclick="mytoggle('{{group}}')">[toggle show]</button>

        {% for concept in group.concepts %}
        <div style="display: none;" class="index-title-column secondary {{group}}">{{concept}}</div>
        <div style="display: none;" class="index-amount-column secondary {{group}}">{{concept.current_amount_per_month|floatformat:2}}</div>
        {% endfor %}
    {% endfor %}

    <div class="index-title-column index-header">Expense</div>
    <div class="index-amount-column index-header">Monthly sum</div>

    {% for group in expenses %}
        <div class="index-title-column">{{group}}</div>
        <div class="index-amount-column">{{group.net|floatformat:2}}</div>
        <button class="toggle" onclick="mytoggle('{{group}}')">[toggle show]</button>

        {% for concept in group.concepts %}
        <div style="display: none;" class="index-title-column secondary {{group}}">{{concept}}</div>
        <div style="display: none;" class="index-amount-column secondary {{group}}">{{concept.current_amount_per_month|floatformat:2}}</div>
        {% endfor %}
    {% endfor %}
</div>
