{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'expenses/style.css' %}" />
<link rel="shortcut icon" type="image/png" href="{% static 'expenses/icons/favicon.png' %}" />

<div id="banner">
  <div id="banner-content">States</div>
</div>

<div id="main-content">

<p>
    Ir a: <a href="expenses">Expenses</a>
</p>
<p></p>

<table>
    <tr>
        <td>
            <a href="expenses/"><img src="{% static 'expenses/icons/expenses_logo.png' %}"
                                  alt="expenses" style="width: 200px;" /></a>
        </td>
    </tr>
</table>

</div>
