{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'gastos/style.css' %}" />
<link rel="shortcut icon" type="image/png" href="{% static 'gastos/icons/favicon.png' %}" />

<div id="banner">
  <div id="banner-content">Estados</div>
</div>

<div id="main-content">

<p>
    Ir a: <a href="gastos">Gastos</a>
</p>
<p></p>

<table>
    <tr>
        <td>
            <a href="gastos"><img src="{% static 'gastos/icons/gastos_logo.png' %}"
                                  alt="gastos" style="width: 200px;" /></a>
        </td>
    </tr>
</table>

</div>
